body {
    font-family: Arial, sans-serif;
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculadora-contenedor {
    background-color: #34495e;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #f39c12;
    margin-bottom: 20px;
    font-size: 2.5em;
}

.calculadora {
    width: 300px;
}

.resultado {
    width: 100%;
    height: 70px;
    font-size: 28px;
    text-align: right;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    background-color: #2c3e50;
    color: #ecf0f1;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px; /* Ajusta el espacio entre botones */
}


button {
    font-size: 24px;
    height: 70px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 20px;
}


button:hover {
    filter: brightness(85%); 
}

.numero {
    background-color: #3498db;
    box-shadow: 0 5px #2980b9;
}

.operador {
    background-color: #e67e22;
    box-shadow: 0 5px #d35400;
}

.especial {
    background-color: #e74c3c;
    box-shadow: 0 5px #c0392b;
}

.calcular {
    grid-row: span 2;
    grid-column: 4;
}

.suma {
    grid-row: span 2;
    grid-column: 4;
}

.restar {
    grid-row: span 1;
    grid-column: 4;
}

.ancho {
    grid-column: span 2;
}

.punto {
    grid-column: span 1;
}

button:active {
    box-shadow: none;
    transform: translateY(4px);
}
